# Ignore node_modules folder 
IgnitingOurApp/node_modules
LayingTheFoundation/node_modules
Chapter4TalkCheap/node_modules
Chapter-05/node_modules
# Ignore dist folder
IgnitingOurApp/dist
LayingTheFoundation/dist
Chapter4TalkCheap/dist
Chapter-05/dist
# Ignore parcel-cache folder
IgnitingOurApp/.parcel-cache
LayingTheFoundation/.parcel-cache
Chapter4TalkCheap/.parcel-cache
Chapter-05/.parcel-cache