.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #0c7070;
    align-items: center;
    font-size: 18px;
}
.nav-items > ul{
    display: flex;
    list-style: none;
}
.nav-items > ul > li{
    padding : 10px;
    color: white;
}
.nav-items > ul > li > a{
    color: white;
}
.container{
    margin: 10px auto;
}
.search-container{
  text-align: center;
}
input.search-key{
    height: 24px;
    margin-right: 5px;
}
.search-btn{
    height: 30px;
    background-color: #0c7070;
    border: 1px solid #036262;
    color : white;
    margin-left: 5px;
}
.reset-btn{
    height: 30px;
    background-color: white;
    border: 1px solid #036262;
    color : #0c7070;
}
.restaurant-container{
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
}
.card{
    width : 200px;
    border : 1px solid black;
    margin :10px;
    padding : 10px;
    overflow: hidden;
}
.card > img{
    width : 100%
}
.footer-container {
    height: 100px;
    background-color: #0c7070;
    border: 1px solid black;
    text-align: center;
}